/* Estilos para las imágenes */
/*#film-list img {
  width: 100px; 
}/* /* Tamaño inicial de las imágenes */

/* Estilos para las imágenes */
#film-list {
    column-count: 5; /* Número de columnas deseadas */
    column-gap: 10px; /* Espacio entre las columnas */
    vertical-align: middle;
    
  }

#film-list img {
  margin-right: 30px; /* Espacio entre las imágenes */
  width: 200px;
  height: 300px;
  display: flex
  
  }

