/* Reset CSS */
body {
    background-color: #3b67937f;
}
#header {
    background-image: url('https://i.postimg.cc/FRz3f2dz/Dise-o-sin-t-tulo-2-1-1.png');
    background-size: auto 100% ;
    background-position: center;
    animation: backgroundScroll 25s linear infinite;
    /* Establece la animaci칩n de desplazamiento de fondo */
}
@keyframes backgroundScroll {
    0% {
        background-position: 0 0;
        /* Inicia las im치genes en la posici칩n inicial */
    }
    100% {
        background-position: 100% 100%;
        /* Desplaza las im치genes diagonalmente */
    }
}

#goHomeButton {
  background-color:  #406f9de4;
  color: white; 
  padding: 10px 20px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  text-decoration: none;
}

#showFilmsButton{
  background-color:  #406f9de4;
  color: white; 
  padding: 10px 20px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  text-decoration: none;

}
h5 {
    height: 5%;
    width: 15%;
    font: small-caps 80%/80%;
    color: beige;
    background-color: #406f9de4;
    font-size: 200%;
    text-align: center;
    border-radius: 10%;
    margin: auto;
}
.ordenador{
  background-color:#406f9d8c ;
  color: rgb(255, 255, 255); 
  padding: 5px 10px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  text-decoration: none;
}
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

h1 {
    height: 200%;
    width: 40%;
    font: small-caps 80%/80% serif;
    color: #406f9de4;
    background-color: #efebe5bd;
    font-size: 630%;
    text-align: center;
    border-radius: 10%;
    margin: auto;
}
h3 {
    height: 10%;
    width: 70%;
    font: small-caps 100%/100% serif;
    color: beige;
    background-color: #406f9de4;
    font-size: 200%;
    border-radius: 10%;
    text-align: center;
    margin: auto;
}

h2 {
  background-color: #406f9d75;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
  color: rgb(255, 250, 250);
}
p{
background-color:rgb(226, 220, 220);
font: size 30px;
text-align: center ;
color: #535050;
}

input{
  outline: none;
  box-sizing: border-box;
height:20%;
width: 20%;
padding: 0 20;
color: black;
border-radius: 50px;
font-size: 20px;
border: 3px solid #406f9de4;
transition: all .7s ease;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
::placeholder{ 
  color: #406f9de4
}
.primera-interfaz{
  display: block;
}

.segunda-interfaz{
  display: none;
}

#contenedor-peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pelicula {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: 8px;
}


.imagen-pelicula {
  width: 80%;
}

/* Media query para computador */
@media (min-width: 1024px) {
  .header-ghibli {
    padding: 16px 0;
  }
  .pelicula {
    width: 31%;
  }
}