
#header {
  background-image: url('https://pbs.twimg.com/media/CdCAJOMUMAAeLFB.jpg '),url('https://th.bing.com/th/id/R.ab4ab26ebdeb8b61f14a6ba4f351c5c2?rik=leEPKuxfPnHZsA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-i4-kOut1BHM%2fT5M9vyj93cI%2fAAAAAAAACjk%2fC3km5VF7Y_w%2fs1600%2fim.jpg&ehk=5NeD8L2JrNLI0yRR2lw1TrIb3NpdKFUw409y5hQ4Hqk%3d&risl=&pid=ImgRaw&r=0 ' );
  background-size: cover;
  background-position: center;
  animation: backgroundScroll 25s linear infinite; /* Establece la animación de desplazamiento de fondo */
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0; /* Inicia las imágenes en la posición inicial */
  }
  100% {
    background-position: 100% 100%; /* Desplaza las imágenes diagonalmente */
  }
  }

  h5{
    font:small-caps 100%/100% serif ;
    color:beige ; 
    background-color:#406f9de4 ;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    transform: translate(320%) ;
}
h1{
  width: 400px;
  font:small-caps 100%/100% serif ;
  color: #406f9de4;
   background-color:#efebe5bd ;
   font-size: 80px;
   text-align: center;
   border-radius: 20px;
   margin: auto;
  }
  h3{
    font:small-caps 100%/100% serif ;
    color: beige;
    background-color:#406f9de4;
    font-size: 35px;
    border-radius: 10px;
    display: inline-block;
    transform: translate(20%) ;
  }

 h6{
  height: 40% ;
    color: beige;
    font-size: 25px;
    display: inline-block;
    transform: translate(280%) ;
    background-color:#406f9de4;
  }
    
#film-list {
    column-count: 4; /* Número de columnas deseadas */
    column-gap: 10px; /* Espacio entre las columnas */
    vertical-align: middle;
    background-image: url('imagen1.jpg'); /* Establece la imagen de fondo */
    background-size: cover;
    background-position: center;
}
  
#film-list img {
  margin-right: 30px; /* Espacio entre las imágenes */
  width: 200px;
  height: 300px;
  display: flex
  
  }

